.center{
	text-align: center;
}

span {
	color: green
}

#tImer{
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
}
#gameOver{
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 10%;
}
